{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block nav_dash %}
<li class="nav-item active">
{% endblock %}

{% block content %}
<!-- Robotic Car Controls -->
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">
                    Controls</h4>
            </div>
            <div class="card-body">
                <form action="/connection" method="post">
                    <div class="row">
                        <div class="col">
                            <label for="ipInput">Set IP address</label>
                            <input type="text" class="form-control" name="ipInput" placeholder={{conn.ip}}>
                        </div>
                        <div class="col">
                            <label for="portInput">Set port number</label>
                            <input type="text" class="form-control" name="portInput" placeholder={{conn.port}}>
                        </div>
                    </div>
                    <br><br><br><br><br><br><br><br><br><br><br><br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}