{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block nav_dash %}
<li class="nav-item active">
{% endblock %}

{% block content %}
<!-- sensor Data Display -->
<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <div class="col">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">speed</i>
                        </div>
                        <p class="card-category">Speed</p>
                        <h3 class="card-title">{{render_stats.Speed}}
                            <small>cm/s</small>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">taxi_alert</i>
                        </div>
                        <p class="card-category">Closest Object</p>
                        <h3 class="card-title">{{render_stats.Closest}}
                            <small>cm</small>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- stats Data Display -->
        <div class="row">
            <div class="col">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">sensors</i>
                        </div>
                        <p class="card-category">On The Line?</p>
                        <h3 class="card-title">{{render_stats.Line}}
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">straighten</i>
                        </div>
                        <p class="card-category">Distance Travelled</p>
                        <h3 class="card-title">{{render_stats.Distance}}
                            <small>cm</small>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="row">
                <div class="card-header col-9">
                    <h4 class="card-title card-header-warning">
                        Maze</h4>
                </div>
                <div class="dropdown col-3">
                    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Maze 1
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="mazeoptions">
                      <a class="dropdown-item" href="#">Maze 2</a>
                      <a class="dropdown-item" href="#">Maze 3</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <!-- MAZE DISPLAY HERE -->
                <h2>HELP</h2>
            </div>
        </div>
    </div>
</div>

<!-- Robotic Car Controls -->
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">
                    Historical Instructions</h4>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                        <th>Time</th>
                        <th>Instruction</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>15:30</td>
                            <td>Forward</td>
                        </tr>
                        <tr>
                            <td>15:30</td>
                            <td>Left</td>
                        </tr>
                        <tr>
                            <td>15:20</td>
                            <td>Forward</td>
                        </tr>
                        <tr>
                            <td>15:20</td>
                            <td>Back</td>
                        </tr>
                        <tr>
                            <td>15:20</td>
                            <td>Back</td>
                        </tr>
                        <tr>
                            <td>15:20</td>
                            <td>Back</td>
                        </tr>
                        <tr>
                            <td>15:20</td>
                            <td>Back</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">
                    Controls</h4>
            </div>
            <div class="card-body">
                <form action="/instruction" method="post">
                    <div class="row">
                        <div class="col">
                            <label for="speedInput">Set Speed (cm/s)</label>
                            <input type="text" class="form-control" name="dirInput" value="l" disabled>
                        </div>
                        <div class="col">
                            <label for="distanceInput">Minimum Distance to nearest obstacle (cm)</label>
                            <input type="text" class="form-control" id="distanceInput"
                                value="3" disabled>
                        </div>
                    </div>
                    <br><br><br><br><br><br><br><br><br><br><br><br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- block for javascripts -->
{% endblock %}