{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block nav_dash %}
<li class="nav-item active">
{% endblock %}

{% block css %}
<link href="./static/css/dashboard.css" rel="stylesheet" />
{% endblock %}


{% block content %}
<!-- sensor Data Display -->
<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <div class="col">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">speed</i>
                        </div>
                        <p class="card-category">Speed</p>
                        <h3 class="card-title" id="speed"></h3>
                        <p id="refresh"></p>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
            <div class="col">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">taxi_alert</i>
                        </div>
                        <p class="card-category">Closest Object</p>
                        <h3 class="card-title" id="closest">
                        </h3>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
        <!-- stats Data Display -->
        <div class="row">
            <div class="col">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">sensors</i>
                        </div>
                        <p class="card-category">On The Line?</p>
                        <h3 class="card-title" id="line"></h3>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
            <div class="col">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">straighten</i>
                        </div>
                        <p class="card-category">Distance Travelled</p>
                        <h3 class="card-title" id="distance">
                        </h3>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">
                    Historical Instructions</h4>
            </div>
            <div class="card-body table-responsive scroll">
                <table class="table table-hover">
                    <thead class="text-warning">
                        <th>Time</th>
                        <th>Instruction</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>15:30</td>
                            <td>Forward</td>
                        </tr>
                        <tr>
                            <td>15:30</td>
                            <td>Left</td>
                        </tr>
                        <tr>
                            <td>15:20</td>
                            <td>Forward</td>
                        </tr>
                        <tr>
                            <td>15:20</td>
                            <td>Back</td>
                        </tr>
                        <tr>
                            <td>15:20</td>
                            <td>Back</td>
                        </tr>
                        <tr>
                            <td>15:20</td>
                            <td>Back</td>
                        </tr>
                        <tr>
                            <td>15:20</td>
                            <td>Back</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Robotic Car Controls -->
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 id="mazeID" class="card-title">
                    Maze</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="dropdown col">
                        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdownMenuOptions">
                        </div>
                    </div>
                </div>
                <div id="maze"></div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">
                    Controls</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h4 class="text-danger">You have <span id="capacity"></span> block(s) left.</h4>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary" onclick="updateLiveMap()">Send Commands!</button>
                        <button class="btn" onclick="showCode()">Show Commands</button>
                    </div>
                </div>
            <div id="blocklyDiv" style="height: 22rem; width: 40rem 100%;"></div>
            <xml xmlns="https://developers.google.com/blockly/xml" id="toolbox" style="display: none">
                <category name="Logic">
                    <block type="forward"></block>
                    <block type="Left"></block>
                    <block type="Right"></block>
                    <block type="controls_repeat_ext"></block>
                    <block type="math_number">
                        <field name="NUM">1</field>
                    </block>

                </category>
            </xml>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- block for javascripts -->
<script>
    var distance = 0;

    function set_zero() {
        document.getElementById("speed").innerHTML = "0 tile/s";
        document.getElementById("closest").innerHTML = "0 tile";
        document.getElementById("line").innerHTML = "Yes";
        document.getElementById("distance").innerHTML = distance + " tiles";
        if (distance == 0 || distance == 1) {
            document.getElementById("distance").innerHTML = distance + " tile";
        }
    }

    function check_flag() {
        var code = (Blockly.JavaScript.workspaceToCode(demoWorkspace)).split(";\n");
        var counter = 0;
        for (let i = 0; i < code.length; i++) {
            if (code[i] == "Forward") {
                counter++;
            }
        }
        var data = {"Distance": counter};
        var i = 0;
        function stats_display() {
            setTimeout(function() {
                $.ajax({
                    type: "POST",
                    url: "/stats",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    dataType: 'json',
                    success: function(result) {
                        document.getElementById("speed").innerHTML = result["Speed"] + " tile/s";
                        document.getElementById("closest").innerHTML = result["Closest"] + " tile";
                        document.getElementById("line").innerHTML = result["Line"];
                        distance = distance + result["Speed"];
                        document.getElementById("distance").innerHTML = distance + " tiles";
                        if (distance == 0 || distance == 1) {
                            document.getElementById("distance").innerHTML = distance + " tile";
                        }
                    },
                    error: function(req, status, err) {
                    document.getElementById("line").innerHTML = "No";
                    document.getElementById("refresh").innerHTML = '<meta http-equiv="refresh" content="10">';
                    alert(status, err);
                    }
                });
                i++;
                if (i < counter) {
                    stats_display();
                }
            }, 1000)
        }
        function delay() {
            setTimeout(function() {
                set_zero();
            }, (counter * 1000) + 1000)
        }
        stats_display();
        delay();
    }
    set_zero();

<!--    interval = setInterval(function() {-->
<!--        var data = {"Distance": distance};-->
<!--        $.ajax({-->
<!--            type: "POST",-->
<!--            url: "/stats",-->
<!--            data: JSON.stringify(data),-->
<!--            contentType: "application/json",-->
<!--            dataType: 'json',-->
<!--            success: function(result) {-->
<!--                document.getElementById("speed").innerHTML = result["Speed"] + " tile/s";-->
<!--                document.getElementById("closest").innerHTML = result["Closest"] + " tile";-->
<!--                document.getElementById("line").innerHTML = "Yes";-->
<!--                distance = distance + result["Speed"];-->
<!--                document.getElementById("distance").innerHTML = result["Distance"] + " tile";-->
<!--                console.log(blockly_code);-->
<!--            },-->
<!--            error: function(req, status, err) {-->
<!--            document.getElementById("line").innerHTML = "No";-->
<!--            document.getElementById("refresh").innerHTML = '<meta http-equiv="refresh" content="10">';-->
<!--            clearInterval(interval)-->
<!--            alert(status, err);-->
<!--            }-->
<!--        });-->
<!--    }, 1000);-->
</script>
    <!--Scripts for blockly-->
<!--scripts for maze display-->
<script>
    var maze_list;
    var startpoint;
    var endpoint;
    // direction the car is facing
    // 0 = north, 1 = east, 2 = south, 3 = west
    var carface = 0;
    $(document).ready(function () {
        $.ajax({
            url: "/MazeData",
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            //on success
            success: function(result){
                maze_list = result;
                for(var i=0; i<result.length; i++){
                    if(i==0){
                        changeMaze(i)
                    }
                    var option = document.createElement("a");
                    option.classList.add("dropdown-item");
                    option.innerHTML = result[i]['maze_ID'];
                    option.href = "#";
                    option.id = i;
                    option.addEventListener('click', function(){changeMaze(this.id);});
                    document.getElementById("dropdownMenuOptions").append(option);
                }
            },
            //on error
            error: function(rep, status, err){
                alert(status, err);
            }
        });
    });

    function changeMaze(maze_ID){
        document.getElementById("mazeID").innerHTML = maze_list[maze_ID]['maze_ID'];
        var map = maze_list[maze_ID]['map']
        var grid = document.createElement('table');
        grid.className = 'dashboardgrid';
        for (var r=0;r<8;++r){
            var tr = grid.appendChild(document.createElement('tr'));
            for (var c=0;c<8;++c){
                var cell = tr.appendChild(document.createElement('td'));
                cell.id = r + "-" + c;
                if(map[r][c]==1){
                    cell.classList.add("path");
                }else if(map[r][c]==2){
                    startpoint = cell.id;
                    cell.classList.add("car");
                }else if(map[r][c]==3){
                    endpoint = cell.id;
                    cell.classList.add("end");
                }
            }
        }
        document.getElementById("maze").innerHTML = "";
        document.getElementById("maze").append(grid);
    }

    function updateLiveMap(){
        var code = (Blockly.JavaScript.workspaceToCode(demoWorkspace)).split(";\n");
        code.pop();
        var sendInstruction = true;
        for(var i=0; i<code.length; i++){
            var cargrid = (document.getElementsByClassName("car"))[0]
            var carpos = cargrid.id;
            var newpos = carpos.split("-").map(Number)
            if((code[i] == "Left" && carface == 1) || (code[i] == "Right" && carface == 3)){
                carface = 0;
            }else if((code[i] == "Left" && carface == 2) || (code[i] == "Right" && carface == 0)){
                carface = 1;
            }else if((code[i] == "Left" && carface == 3) || (code[i] == "Right" && carface == 1)){
                carface = 2;
            }else if((code[i] == "Left" && carface == 0) || (code[i] == "Right" && carface == 2)){
                carface = 3;
            }else if(code[i] == "Forward"){
                switch(carface){
                    case 0:
                        newpos[0] -= 1;
                        break;
                    case 1:
                        newpos[1] = newpos[1] + 1;
                        break;
                    case 2:
                        newpos[0] += 1;
                        break;
                    case 3:
                        newpos[1] -= 1;
                        break;
                }
            }
            var newposid = newpos[0]+"-"+newpos[1];
            var newposelement = document.getElementById(newposid);
            if(newposelement != null){
                if(newposelement.classList != ""){
                    cargrid.classList.remove("car");
                    cargrid.classList.add("path");
                    newposelement.classList = "";
                    newposelement.classList.add("car");
                    if(newposid == endpoint){
                        alert("YOU HAVE REACHED THE END OF THE MAZE!");
                        location.reload();
                    }
                }else{
                    alert("You will crash the car " + String.fromCodePoint(0x1F613) + "\nServer refuses to execute!");
                    sendInstruction = false;
                    break;
                }
            } else{
                alert("OUT OF BOUNDS!\nServer refuses to execute!");
                sendInstruction = false;
                break;
            }
        }
        if(sendInstruction){
            check_flag();
            sendBlockValues(code);
        }
    }
</script>

<!--Scripts for blockly-->
<script src="./static/js/blockly_compressed.js"></script>
<script src="./static/js/blocks_compressed.js"></script>
<script src="./static/js/javascript_compressed.js"></script>
<script src="./static/js/msg/js/en.js"></script>
<script src="./static/js/blockly.js"></script>
<script>
    var demoWorkspace = Blockly.inject('blocklyDiv',
    {media: './static/media/',
    maxBlocks: 5,
     toolbox: document.getElementById('toolbox')});

    function showCode() {
      // Generate JavaScript code and display it.
      Blockly.JavaScript.INFINITE_LOOP_TRAP = null;
      var code = Blockly.JavaScript.workspaceToCode(demoWorkspace);
      alert(code);
    }

    function runCode() {
    // Generate JavaScript code and run it.
    window.LoopTrap = 1000;
    Blockly.JavaScript.INFINITE_LOOP_TRAP =
      'if (--window.LoopTrap == 0) throw "Infinite loop.";\n';
    var code = Blockly.JavaScript.workspaceToCode(demoWorkspace);
    Blockly.JavaScript.INFINITE_LOOP_TRAP = null;
    try {
        eval(code);
    } catch (e) {
        alert(e);
    }
    }
    function onchange(event) {
      document.getElementById('capacity').textContent =
          demoWorkspace.remainingCapacity();
    }

    function sendBlockValues(code) {
        var data = {'instructions':code};
        // ajax the JSON to the server
        $.ajax({
            url: "/dashboard",
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            success: function(result) {
                alert('Commands sent!');
            },
            error: function (req, status, err){
                 console.log('Something went wrong', status, err);
            }
        });
        // stop link reloading the page
        event.preventDefault();
    }

    demoWorkspace.addChangeListener(onchange);
    onchange();
</script>
{% endblock %}