{% extends "base.html" %}

{% block title %}
Scoreboard
{% endblock %}

{% block nav_scoreboard %}
<li class="nav-item active">
{% endblock %}

{% block css %}
<link rel="stylesheet" href="./static/css/scoreboard.css">
{% endblock %}

{% block content %}

<body>
<div class="wrapper">
	<div class="scoreboard_section">
		<div class="scoreboard_tabs">
            <ul>
                <!-- <li class="active" data-li="today">Today, {{scoreboard_py.date}}</li> -->
            	<li class="active" data-li="today">SCOREBOARD</li>
			</ul>
		</div>

		<div class="scoreboard_wrap">
			<div class="scoreboard_item today" style="display: block;">
				<div class="table">
					<table style="width:100%">
						<tr>
							<th>RANK</th>
							<th>NAME</th>
							<th>DATE</th>
							<th>SCORE</th>
					  	</tr>
					  	<tr>
							<td>1</td>
							<td>{{scoreboard_py.rank1name}}</td>
							<td>{{scoreboard_py.rank1date}}</td>
							<td>{{scoreboard_py.rank1score}}</td>
					  	</tr>
					  	<tr>
							<td>2</td>
							<td>{{scoreboard_py.rank2name}}</td>
							<td>{{scoreboard_py.rank2date}}</td>
							<td>{{scoreboard_py.rank2score}}</td>
					  	</tr>
						<tr>
							<td>3</td>
							<td>{{scoreboard_py.rank3name}}</td>
							<td>{{scoreboard_py.rank3date}}</td>
							<td>{{scoreboard_py.rank3score}}</td>
					  	</tr>
						<tr>
							<td>4</td>
							<td>{{scoreboard_py.rank4name}}</td>
							<td>{{scoreboard_py.rank4date}}</td>
							<td>{{scoreboard_py.rank4score}}</td>
					  	</tr>
						<tr>
							<td>5</td>
							<td>{{scoreboard_py.rank5name}}</td>
							<td>{{scoreboard_py.rank5date}}</td>
							<td>{{scoreboard_py.rank5score}}</td>
					  	</tr>
					</table>
				</div>
			</div>
        </div>
	</div>
</div>
</body>
{% endblock %}